body {
  background-color: #F4CCCC; 
  color: #010101;
 font-family: Arial, Helvetica, sans-serif;
  margin: 10% 20%;
}


.exp-header{
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #010101;
  border-bottom: 1px solid #010101;
  background-color: rgba(0,0,0, 0.1) 
}
     
