body {
  background-color: #F4CCCC; 
  color: #010101;
 font-family: Arial, Helvetica, sans-serif;
  margin: 10% 20%;
    background-image: repeating-linear-gradient(-45deg, rgba(245, 153, 157, 0.8), rgba(245, 153, 157, 0.8) 1px, transparent 1px, transparent 6px);
    background-size: 4px 4px;
}


.exp-header{
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #010101;
  border-bottom: 1px solid #010101;
  background-color: rgba(245, 153, 157, 0.8) 
}
